.MarkdownViewer ul > li {
	list-style: disc;
	margin-left: 2rem;
}

.MarkdownViewer ol > li {
	list-style: decimal;
	margin-left: 2rem;
}

.MarkdownViewer a {
	color: var(--contrast);
	cursor: pointer;
}

.MarkdownViewer a:hover {
	text-decoration: underline;
}
