@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* viewport */
	--mobile: 480px;
	--tablet: 768px;
	--desktop: 1024px;

	/* colors */
	--primary: #845ec2;
	--secondary: #b39cd0;
	--tertiary: #fbeaff;
	--contrast: #00c9a7;
	--black: #4b4453;
	--gray: #b0a8b9;
	--white: #fbeaff;
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 76, 61, 179;
		/* --background-start-rgb: 160, 95, 233; */
		/* --background-start-rgb: 105, 42, 195; */
		/* --background-start-rgb: 0, 0, 0; */
		--background-end-rgb: 0, 0, 0;
		--background-hex: #4b4453;
	}
}

body {
	height: 100%;
	min-height: 100vh;
	overflow-y: scroll;
	color: rgb(var(--foreground-rgb));
	background: no-repeat
		linear-gradient(
			to bottom,
			transparent,
			/* var(--black)  */ rgb(var(--background-end-rgb))
		)
		var(--primary);
	/* rgb(var(--background-start-rgb)); */
}
